<!doctype html>
<html>
<head>
	<title>CS602 HW3</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h3>CS602 HW3 - Your Name</h3>
<a href="/zip">Lookup By ZipCode</a> | <a href="/city">Lookup By City,State</a> | 
<a href="/pop">Get State Population</a>
<hr/>
	
	{{{body}}}

</body>
</html>

