<!doctype html>
<html>
<head>
	<title>CS602 HW3</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
</head>
<body>

	<header>
		<img src="/images/bu-logo.gif" alt="logo">
		<p>
		<center>
			<h3>CS602 HW3 - Hornicek</h3>
			<h4>View: {{title}}</h4>
		</center>
	</header>
	<div class="panel-body">
		{{{body}}}
	</div>
	

</body>
</html>


